

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-weight: bold;
    margin: 15px 16px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 10px;
    gap: 10px;
}
#to-do {
    padding: 8px;
    margin:  8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#btn {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    background-color: #0000ff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    justify-content: center;
    align-items: center;

}
 li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #ccc;
    border-bottom: 2px solid #eee;
}
li:last-child{
    border-bottom: none;
}
button {
    padding: 8px;
    background-color: #ff4545;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}