@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-weight: bold;
    margin: 15px 16px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 10px;
    gap: 10px;
}
#to-do {
    padding: 8px;
    margin:  8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#btn {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    background-color: #0000ff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    justify-content: center;
    align-items: center;

}
 li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 7px;
    background-color: #333;
    color: white;
    
}
button {
    padding: 8px;
    background-color: #ff4545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}